[submodule "themes/hugo-redirect"]
	path = themes/hugo-redirect
	url = https://github.com/gcc42/hugo-redirect.git
[submodule "themes/puppet-oxi"]
	path = themes/puppet-oxi
	url = git@github.com:oxivanisher/hugo-theme-puppet.git
