/* puppet theme additions */
/* page title */
.intro-header h1 {
  -webkit-text-stroke: 2px black;
  text-shadow: 0px 0px 10px black;
}

/* page subtitle and subtitle */
.intro-header .subheading, .intro-header .meta {
  text-shadow: 0px 0px 10px black;
}

.navbar {
  background: rgba(0, 0, 0, .45);
  background-blend-mode: darken;
}

/* this should go into the theme ... */
.post-content-preview-thumbnail {
  float: right;
  margin: 4px 6px;
  box-shadow: 0 0 4px -1px #000;
}
